{% extends 'base.html.twig' %}
{% block body %}


	<div class="grix xs2 sm3 gutter-0 card">
		<div class="col-xs2 col-sm3"></div>
		<div class="col-xs2 col-sm3">
			<table border="3">
				<tr>
					<h2>Liste des reclamations</h2>

					<td>
						<h3>L'objet de reclamation
						</h3>
					</td>
					<td>
						<h3>Déscription de reclamation
						</h3>
					</td>
					<td>
						<p>Envoyé le
						</p>
					</td>
				</tr>
			</tr>

			{% for reclamation in reclamation %}
				<tr>
					<td>{{reclamation.sujet}}</td>
					<td>{{reclamation.description}}</td>
					<td>{{reclamation.date|date("d/m/Y H:i") }}</td>
				</tr>


			{% endfor %}
		</div>
	</table>
</div>{% endblock %}
