{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-8">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <div class="bg-light p-30 mb-5">   
                <a  href="/signUpClient" class="btn btn-light">client</a>
                <a  href="/signUpVendeur" class="btn btn-light">vendeur</a>     
                </div>
            </div>
           
        </div>
    <!-- Checkout End -->
</body>

</html>
{% endblock %}
